html, header, nav, section, h1{
  margin: 0;
  padding: 0;
}

h1{
  background-color: purple;
  text-align: center;
  color: white;

}
header nav a{
  background-color: pink;
  display: inline-block;
  margin-left: 130px;
}
nav{
  background-color: purple;
  border: 50px solid purple;

}
section a{
  color: white;
  background-color: red;
  display: inline-block;
  margin-left: 50px;
}

/*code css porduit.html*/

p{
  text-align: center;
  color: black;
}
/*code css pour formulaire.html*/

form p{
  vertical-align: middle;
}

input{
  display: block;
  margin-left: 550px;
}

textarea,button {
  display: block;
  margin-left: 550px;
}
/*code css localisation*/
iframe{
  margin-left: 345px;
}
